.App {
  text-align: center;
  }
  .App-logo {
    height: 10vmin; 
    pointer-events: none;
  }
  .App-header { 
    background-color: #282c34; 
    min-height: 5vh;
    display: flex;
    align-items: center; 
    justify-content: space-around; 
    font-size: calc(10px + 2vmin); 
    color: white;
  }
  .App-link {
  color: #61dafb;
  }
  .songList {
  display: flex; flex-direction: column;
  }
  .songCard {
  display: flex;
  justify-content: space-around; padding: 5px;
  }
  .songTitle { font-weight: bold;
  }
  h2{
    padding-left: 50px;
  }
  .ourAudioPlayer{
    margin: 0 30%;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }